{% extends "base.html" %} {% block title %}Welcome to ShopCiti{% endblock %} {% block header %}Welcome to ShopCiti{% endblock %} {% block content %}
<!-- Your content for the 'content' block goes here -->
{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">
        <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
            <!-- Use the appropriate path for your image -->
            <img src="{% static 'css/img/c.png'%}" alt="" class="img-fluid" style="height: 450px; padding-top: 150px;">
        </div>
        <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
            <h2 style="padding-top: 150px;">
                Find all your local clothing brands in one online platform.
            </h2>
            <div>
                <a href="{% url 'register' %}" target="_blank" class="btn-get-started scrollto">Get A
                        Slot</a>
                <a href="{% url 'shop_list' %}" target="_blank" class="btn-services scrollto">Our Shops</a>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<main id="main">
    <div class="row about-extra">
        <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'img/about-extra-1.svg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-4" data-aos="fade-left">
            <h4>About ShopCiti</h4>
            <p>
                ShopCiti offers local South African stores the opportunity to host their stores virtually on our website by paying a monthly fee for this service. Users can easily find and purchase products from their favorite local South African stores, all in one place.
            </p>
            <p>
                This gives local brands exposure to customers all across South Africa. Our website was launched to serve South African local brands and customers.
            </p>
        </div>
    </div>
</main>
<!-- End #main -->


<!-- ======= Services Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3>Services</h3>
            <p>Our services provide a professional and easy-to-use interface for online shopping and entrepreneurs who would like to showcase their amazing work and talent.</p>
        </header>
        <section id="why-us">
            <div class="container" data-aos="fade-up">
                <div class="row row-eq-height justify-content-center">
                    <div class="col-lg-4 mb-4">
                        <div class="card" data-aos="zoom-in" data-aos-delay="100">
                            <i class="bi bi-calendar4-week"></i>
                            <div class="card-body">
                                <h5 class="card-title">Security</h5>
                                <p class="card-text">We ensure that the local merchants are CIPC-registered and that you know exactly what to expect when you shop with us. Easy, secure online payment system provided.</p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card" data-aos="zoom-in" data-aos-delay="200">
                            <i class="bi bi-camera-reels"></i>
                            <div class="card-body">
                                <h5 class="card-title">Business Exposure</h5>
                                <p class="card-text">We enable local South African brands to build their online presence and become more competitive in the South African retail market, and we will help expose your business on a national scale to reach more customers.</p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card" data-aos="zoom-in" data-aos-delay="300">
                            <i class="bi bi-chat-square-text"></i>
                            <div class="card-body">
                                <h5 class="card-title">Sustainability & Growth</h5>
                                <p class="card-text">We help businesses improve financial performance by ensuring the entire organizational system is aligned with your business needs. We provide you with the shopping experience you desire, all in one place.</p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- End Services Section -->

<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3>Why Choose ShopCiti?</h3>
            <p>We have a dedicated team to bring you the best online shopping experience of all time. Our biggest priority is to ensure the safety of all customers by utilizing state-of-the-art security technology on ShopCiti.</p>
        </header>
        <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="#">Our Mission</a></h4>
                    <p class="description">We provide support to all South African entrepreneurs looking to build and grow their businesses while providing South African consumers with the broadest range of products and services from local businesses at affordable prices.</p>
                </div>
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title"><a href="#">Vision</a></h4>
                    <p class="description">Through e-commerce, we enable local South African brands to build their online presence and become more competitive in the South African retail market.</p>
                </div>
            </div>
            <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
                <img src="{% static 'img/6.png' %}" class="img-fluid" style="height: 300px;" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
{% endblock %}