{% extends "base.html" %} {% block title %}Welcome to ShopCiti{% endblock %} {% block header %}Welcome to ShopCiti{% endblock %} {% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Failure</title>
</head>

<body>
    <h1>Registration Failed</h1>
    <p>Sorry, there was an error during the registration process. Please try again later.</p>
</body>

</html>

{% endblock %}