{% extends 'base.html' %} {% block content %}
<section>
    <div class="container">
        <div class="card-body">
            <div class="card p-3" style="margin-top: 110px;">

                <h1>Manage Products</h1>

                <!-- Button to Add a New Product -->
                <div class="button_container">
                    <a href="{% url 'add_product_to_store' store.id %}" class="btn btn-primary mb-3">Add Product</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>${{ product.price }}</td>
                            <td>
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No products available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="button_container">
                    <a href="{% url 'store_profile' %}" class="btn btn-primary mb-3">Go to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}