{% extends 'base.html' %} {% load static %} {% block content %}


<body>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Oops! Something went wrong:</strong>
        <ul>
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!--------------- login-section--------------->
    <section class="login account footer-padding">
        <div class="container">
            <div class="login-section account-section">
                <div class="review-form">
                    <h5 class="comment-title">Create Account</h5>
                    <form method="post" action="{% url 'create_account' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="account-inner-form">
                            <div class="review-form-name">
                                <label for="fname" class="form-label">First Name*</label>
                                <input type="text" id="fname" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="review-form-name">
                                <label for="lname" class="form-label">Last Name*</label>
                                <input type="text" id="lname" name="last_name" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="account-inner-form">
                            <div class="review-form-name">
                                <label for="email" class="form-label">Email*</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="user@gmail.com" required>
                            </div>
                            <div class="review-form-name">
                                <label for="phone_number" class="form-label">Phone*</label>
                                <input type="tel" id="phone_number" name="phone_number" class="form-control" placeholder="+880388**0899" required>
                            </div>
                        </div>
                        <div class="account-inner-form">
                            <div class="review-form-name">
                                <label for="username" class="form-label">Shop Name*</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="review-form-name">
                                <label for="password" class="form-label">Password*</label>
                                <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter your password" required>
                            </div>
                            <div class="review-form-name">
                                <label for="confirm_password" class="form-label">Confirm Password*</label>
                                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm your password" required>
                            </div>
                        </div>
                        <div class="review-form-name">
                            <label for="logo" class="form-label">Shop Logo*</label>
                            <input type="file" id="logo" name="logo" class="form-control" accept="image/*" required>
                            <small class="form-text text-muted">Upload your shop logo (JPEG, PNG, or GIF format).</small>
                        </div>
                        <div class="review-form-name">
                            <label for="country" class="form-label">Country*</label>
                            <select id="country" name="country" class="form-select">
                                <option>Choose...</option>
                                <option>South Africa</option>
                                <option selected>South Africa</option>
                            </select>
                        </div>
                        <div class="review-form-name address-form">
                            <label for="address" class="form-label">Address*</label>
                            <input type="text" id="address" name="address" class="form-control" placeholder="Enter your Address" required>
                        </div>
                        <div class="account-inner-form city-inner-form">
                            <div class="review-form-name">
                                <label for="city" class="form-label">Town / City*</label>
                                <select id="city" name="city" class="form-select">
                                    <option>Choose...</option>
                                    <option>Johannesburg</option>
                                    <option>Pretoria</option>
                                    <option>Midrand</option>
                                    <option selected>Johannesburg</option>
                                </select>
                            </div>
                            <div class="review-form-name">
                                <label for="number" class="form-label">Postcode / ZIP*</label>
                                <input type="number" id="number" name="postal_code" class="form-control" placeholder="0000" required>
                            </div>
                        </div>
                        <div class="review-form-name checkbox">
                            <div class="checkbox-item">
                                <input type="checkbox" name="terms_and_conditions" required>
                                <p class="remember">
                                    I agree to all terms and conditions in <span class="inner-text">ShopUs.</span></p>
                            </div>
                        </div>
                        <div class="login-btn text-center">
                            <form action="{% url 'create_account' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="shop-btn">Create an Account</button>
                            </form>
                            <span class="shop-account">Already have an account? <a href="{% url 'login' %}">Log In</a></span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--------------- login-section-end --------------->



    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
{% endblock %}