{% extends 'base.html' %} {% load static %} {% block content %}

<body>
    <!--------------- login-section --------------->
    <section class="login footer-padding">
        <div class="container">
            <div class="login-section">
                <div class="review-form">
                    <h5 class="comment-title">Log In</h5>
                    <form method="post" action="{% url 'login' %}?next={{ next }}">
                        {% csrf_token %}
                        <div class="review-inner-form">
                            {{ form.non_field_errors }}
                            <div class="review-form-name">
                                {{ form.username.label_tag }} {{ form.username }}
                            </div>

                            <div class="review-form-name">
                                {{ form.password.label_tag }} {{ form.password }}
                            </div>
                            <div class="review-form-name checkbox">
                                <div class="checkbox-item">
                                    {{ form.remember_me }}
                                    <span class="address">Remember Me</span>
                                </div>
                                <div class="forget-pass">
                                    <p><a href="#">Forgot password?</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="login-btn text-center">
                            <button type="submit" class="shop-btn">Log In</button>
                            <span class="shop-account">Don't have an account? <a href="{% url 'create_account' %}">Sign Up Free</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--------------- login-section-end --------------->



</body>

{% endblock %}