{% extends 'base.html' %} {% load static %} {% block content %}

<body>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
        }
        
        h1,
        h2,
        h3 {
            color: #333;
        }
        
        p {
            margin: 1em 0;
        }
        
        .bold {
            font-weight: bold;
        }
        
        .section {
            margin-bottom: 20px;
        }
    </style>

    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">
            <div class="blog-bradcrum">
                <span><a href="index.html">Home</a></span>
                <span class="devider">/</span>
                <span><a href="#">Privacy Policy</a></span>
            </div>
            <div class="blog-heading about-heading">
                <h1 class="heading">Privacy Policy</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->

    <h1>Welcome to the Shopciti Marketplace Privacy Policy</h1>

    <p>This Privacy Policy applies to all users of our Website, related mobi-sites and software applications, collectively referred to as “our Platforms”, which are used to access and purchase our products and services.</p>

    <p>The purpose of this Privacy Policy is to set out how, why and when Shopciti Marketplace (“Shopciti”) uses your Personal Information so as to comply with the Protection of Personal Information Act 4 of 2013 (“POPI”).</p>

    <p>It is important that you read this Privacy Policy together with our other terms and conditions, privacy notices or policies we may provide from time to time when we collect or use your Personal Information.</p>

    <p>Further, please pay special attention to the clauses in this Privacy Policy that appear in similar text and style (i.e. <span class="bold">bold</span>) which:</p>
    <ul>
        <li>may limit the risk or liability of Shopciti or a third party.</li>
        <li>may create risk or liability for the user.</li>
        <li>may compel the user to indemnify Shopciti or a third party.</li>
        <li>serves as an acknowledgement, by the user, of a fact.</li>
    </ul>

    <p>We respect your privacy and take the protection of Personal Information very seriously. We strive to deliver excellent service every time you shop with us, and to do this, we need to use some of your Personal Information. This Privacy Policy describes
        how we handle the Personal Information we collect about you and/or receive from you. By using our Platforms, you agree to the processing of your Personal Information as set out in this Privacy Policy.</p>

    <p>In this Privacy Policy, the terms –</p>
    <ul>
        <li>“Personal Information”, and “process/processing” bear the same meanings as set out in POPI.</li>
        <li>“we”, “us” or “our” refers to Shopciti.</li>
        <li>“you” and “your” refers to every person that accesses or uses our Platforms also referred to as a user.</li>
        <li>“registered user(s)” refers to anyone registered on our Platforms and has provided us with a unique email address and password as well as other Personal Information in order to order goods and services on our Platforms.</li>
    </ul>

    <div class="section">
        <h2>If You Are Below the Age of 18</h2>
        <p>If you are below the age of 18 years, you must always get permission from your parent or guardian before you use our Platforms or give us your Personal Information. We may check that your parent or guardian has given you such permission, for example
            by asking you to provide us with your parent’s or guardian’s contact details so we can contact them. We may also check that the contact details you have given us are correct and are the details of a person who is actually your parent or guardian.
            If we are not able to verify such permission or if a parent or guardian confirms that you do not have their permission, you may not use our Platforms.</p>
        <p>Further, Shopciti may not sell liquor or tobacco products to you if you are under the age of 18 regardless of any supervision by a parent or guardian. You may be requested to provide proof of your age before receiving any liquor or tobacco products
            ordered via our Platforms.</p>
    </div>

    <div class="section">
        <h2>What Personal Information We Collect and Process</h2>
        <p>Shopciti processes Personal Information in a manner that is reasonable, adequate, relevant, non-excessive and purpose-specific. In order for users to access and use our Platforms we collect and process some Personal Information. When you become
            a registered user, we have to collect and process your Personal Information to render our services to you.</p>
        <p>When you register to use our Platforms, we may collect the following Personal Information:</p>
        <ul>
            <li>name and surname.</li>
            <li>email address.</li>
            <li>physical address.</li>
            <li>gender.</li>
            <li>mobile phone number.</li>
            <li>online identifiers.</li>
            <li>date of birth.</li>
            <li>identification number.</li>
            <li>banking details where you are a subscriber to ShopcitiMORE.</li>
        </ul>
        <p>Should your Personal Information change or you wish to amend and/or correct this Personal Information you can do this by updating your registered user information in your account profile.</p>
        <p>You warrant that the information you have provided is accurate, current, true and correct and that does not impersonate or misrepresent any person or entity or falsely state or otherwise misrepresent your affiliation with anyone or anything.</p>
    </div>

    <div class="section">
        <h2>Information from Using Our Platforms</h2>
        <p>When you access our Platforms, whether or not you are a registered user, Shopciti processes some of your Personal Information. Depending on how you access and use our Platforms, we may receive:</p>
        <ul>
            <li>log information, through online identifiers, including information on how, when and for how long you use our Platforms and other services, the content you view and search queries you submit.</li>
            <li>information about the equipment you use to access or use our Platforms, including the type of device you are using, how you access our Platforms, your browser or operating system and your Internet Protocol address.</li>
            <li>the geographic location from which you accessed our Platforms, including your device’s global positioning system signal and information about nearby wifi networks and cell towers. We get this information when you use location-enabled services.</li>
            <li>other information about you from third parties, such as social media.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Why Do We Process Your Personal Information?</h2>
        <p>We process the Personal Information we collect and receive to:</p>
        <ul>
            <li>identify you;</li>
            <li>verify your identity;</li>
            <li>create a user account for you; and/or</li>
            <li>enter into a contract with you.</li>
        </ul>
        <p>As a registered user, we also process your Personal Information in order to:</p>
        <ul>
            <li>fulfill our contractual obligations to you when you have ordered goods in order for us to deliver those goods and process returns.</li>
            <li>provide you with information, products or services you request from us.</li>
            <li>communicate with you regarding our Platforms and provide you with information, products or services, including billing, customer support, resolving complaints and quality control.</li>
            <li>notify you about changes to our Platforms, services and products, terms and conditions, privacy policy or notices, and any other changes that impact our Platforms, services and products.</li>
            <li>send you information about competitions, products or services that may interest you (unless you have opted out of receiving such information). Please note that you may also receive newsletters based on your interests, recent orders and browsing
                behavior. To unsubscribe from newsletters sent to you based on your recent orders and browsing behaviors, visit the Newsletter Subscriptions page under “My Account” or unsubscribe when receiving such a newsletter.</li>
            <li>get feedback from you which we need to develop our products and services and grow our business.</li>
            <li>comply with any legal or regulatory obligations such as tax or financial laws.</li>
            <li>undertake research for statistical purposes. The research and statistics we get from this process do not include your Personal Information and cannot be linked to you, nor can you be identified from these statistics.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Retention and Restriction of Records</h2>
        <p>We keep your Personal Information for as long as:</p>
        <ul>
            <li>we need it to provide our Platforms, products or services to you.</li>
            <li>it is required or allowed by law and is in line with our internal retention policies.</li>
            <li>it is necessary to uphold the contract between you and us.</li>
            <li>you have agreed to us keeping your Personal Information subject to your request for us to stop processing your Personal Information.</li>
        </ul>
        <p>We will retain your Personal Information for as long as is necessary to achieve the purpose for which this information was collected and processed unless we are permitted or required by applicable law to keep it for longer.</p>
        <p>In accordance with the conditions for the lawful processing of Personal Information set out in POPI, we may, for example, destroy or delete a record of your Personal Information or de-identify it as soon as is reasonably practicable after we are
            no longer authorized to retain such record. If you have not used our Platforms for a period of 12 months, we may contact you to ensure you are still happy to receive communications from us. If you do not respond, we will stop using your Personal
            Information.
        </p>
    </div>

    <div class="section">
        <h2>Disclosure of Personal Information</h2>
        <p>We may share your Personal Information with:</p>
        <ul>
            <li>our service providers, suppliers, sellers and contractors in order to provide you with our services and products (e.g. couriers, delivery services etc). However, our contracts dictate that these service providers may only use your Personal
                Information in connection with the services they perform for us and not for their own benefit or any other purpose, and must treat such information as confidential information.</li>
            <li>our suppliers or sellers in order for them to liaise directly with you regarding any goods you have purchased, for them to comply with their regulatory obligations (for instance TV license reporting), or for any other purpose which may require
                their involvement.</li>
            <li>the companies in the Shopciti Group in order for them to send you once-off opt-in direct marketing communications.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Sending Your Personal Information Outside South Africa</h2>
        <p>We may transfer certain Personal Information outside the geographic borders of South Africa to service providers for purposes set out above (Why we process your Personal Information?), including for data storage and back-up purposes to ensure
            the integrity of our systems.</p>
        <p>When we transfer your Personal Information outside of the geographic borders of South Africa, we will ensure that we do so in accordance with the requirements for lawful transfer outside of South Africa as set out in POPI.</p>
        <p>By accessing and using our Platforms, you consent to us transferring your Personal Information outside of South Africa as set out in POPI.</p>
    </div>

    <div class="section">
        <h2>Securing Your Personal Information</h2>
        <p>We secure the integrity and confidentiality of your Personal Information in our possession or under our control by taking appropriate, reasonable technical and organizational measures to prevent loss of, damage to or unauthorized destruction of
            Personal Information; and unlawful access to or processing of Personal Information.</p>
        <p>In order to implement and maintain such measures, we have in place policies, controls and related processes, which are reviewed and updated on a regular basis. Our policies, controls and procedures cover for example:</p>
        <ul>
            <li>physical, technical and network security.</li>
            <li>access controls and monitoring of access.</li>
            <li>secure storage, destruction and encryption of records of Personal Information.</li>
            <li>Personal Information breach reporting and remediation.</li>
            <li>by way of written agreements, imposition of security and confidentiality obligations on third parties (based within or outside the borders of South Africa) who process Personal Information as part of rendering services to us.</li>
        </ul>
        <p>Should you disclose your Personal Information to any third party other than Shopciti, or if a third party unlawfully acquires your Personal Information elsewhere, Shopciti shall not be liable for any loss or damage arising from or suffered by
            you as a result of the disclosure or unlawful acquisition elsewhere (as the case may be) of such Personal Information. This is because we do not regulate or control how that third party uses your Personal Information. You should always ensure
            that you read the privacy policy of any third party.</p>
    </div>

    <div class="section">
        <h2>Know Your Rights</h2>
        <p>Having provided adequate proof of your identity, you have the right to:</p>
        <ul>
            <li>view, correct, object and/or amend your Personal Information we process. Please note that as a registered user, you can do this through your user account for the Personal Information reflected therein.</li>
            <li>request a record or description of your Personal Information. Shopciti may charge a fee in order to provide you with this record of your Personal Information. Where requests to access and amend your Personal Information are manifestly unfounded,
                excessive or repetitive Shopciti may charge an additional administrative fee or refuse the request.</li>
            <li>request to have your Personal Information corrected, destroyed or deleted. Please note that you can stop being a registered user by canceling your account. In this instance Shopciti will only retain your Personal Information subject to any
                legislative requirement and/or our internal retention policy.</li>
            <li>us complying with your requests upon receipt unless we have credible reason why we cannot comply.</li>
            <li>us indicating where, if we cannot agree whether to correct or delete your Personal Information as requested, that a correction or deletion was requested but was not made.</li>
            <li>inform you if reasonably practicable, should we change your Personal Information and this has an impact on decisions about you.</li>
            <li>notify you of the action taken by us because of your request.</li>
            <li>notify you of unauthorized access to your Personal Information.</li>
            <li>provide you with reasonable evidence of our compliance with our obligations under this Privacy Policy on reasonable notice and request.</li>
            <li>Submit a complaint to the Information Regulator.</li>
        </ul>
        <p>As a registered user, you can exercise all your rights set out above in terms of POPIA by going to the Data & Privacy section of our Help Centre.</p>
        <p>As any other user, you can exercise all your rights as set out above by referring to our process set out in our PAIA Manual, here.</p>
    </div>

    <div class="section">
        <h2>How to Lodge a Complaint with the Information Regulator</h2>
        <p>If you have any complaints about this Privacy Policy or our compliance with this Privacy Policy you can lodge a complaint with the Information Regulator.</p>
        <p>The contact details of the Information Regulator are available on its website at: <a href="https://justice.gov.za/inforeg/" target="_blank">https://justice.gov.za/inforeg/</a></p>
    </div>

    <p>This version of the Privacy Policy replaces any preceding privacy policy provisions on our website. We may occasionally update this Privacy Policy. When you use our Platforms the version of the Privacy Policy posted on this page applies to you.</p>
</body>




{% endblock %}