{% extends 'base.html' %} {% load static %} {% block content %}


<body>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Oops! Something went wrong:</strong>
        <ul>
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <section class="login account footer-padding">
        <div class="container">
            <div class="login-section account-section">
                <div class="review-form">
                    <h5 class="comment-title">Create Account</h5>
                    <form method="post" action="{% url 'random_create_account' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="account-inner-form">
                            <div class="review-form-name">
                                <label for="fname" class="form-label">First Name*</label>
                                <input type="text" id="fname" name="first_name" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="review-form-name">
                                <label for="lname" class="form-label">Last Name*</label>
                                <input type="text" id="lname" name="last_name" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="account-inner-form">
                            <div class="review-form-name">
                                <label for="email" class="form-label">Email*</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="user@gmail.com" required>
                            </div>
                            <div class="review-form-name">
                                <label for="phone_number" class="form-label">Phone*</label>
                                <input type="tel" id="phone_number" name="phone_number" class="form-control" placeholder="+880388**0899" required>
                            </div>
                        </div>
                        <div class="account-inner-form">

                            <div class="review-form-name">
                                <label for="password" class="form-label">Password*</label>
                                <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter your password" required>
                            </div>
                            <div class="review-form-name">
                                <label for="confirm_password" class="form-label">Confirm Password*</label>
                                <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm your password" required>
                            </div>
                        </div>

                        <div class="review-form-name checkbox">
                            <div class="checkbox-item">
                                <input type="checkbox" name="terms_and_conditions" required>
                                <p class="remember">
                                    I agree to all terms and conditions in <span class="inner-text">ShopUs.</span></p>
                            </div>
                        </div>
                        <div class="login-btn text-center">
                            <button type="submit" class="shop-btn">Create an Account</button>
                            <span class="shop-account">Already have an account ?<a href="{% url 'login' %}">Log In</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}