{% extends 'base.html' %} {% load static %} {% block content %}

<body>

    <!--------------- blog-tittle-section---------------->
    <section class="blog about-blog">
        <div class="container">
            <div class="blog-bradcrum">
                <span><a href="index.html">Home</a></span>
                <span class="devider">/</span>
                <span><a href="#">Terms and Condition</a></span>
            </div>
            <div class="blog-heading about-heading">
                <h1 class="heading">Terms and Condition</h1>
            </div>
        </div>
    </section>
    <!--------------- blog-tittle-section-end---------------->

    <!--------------- terms-section --------------->
    <section class="product privacy footer-padding">
        <div class="container">
            <div class="privacy-section">
                <div class="policy">
                    <h5 class="intro-heading">1. What Are Privacy Policy ?</h5>
                    <p class="policy-details">This website can be accessed at www.shopciti.com, related mobi-sites and software applications (the “Website”) and is owned and operated by shopciti Online (RF) (Proprietary) Limited (“shopciti”, “we”, “us” and “our”). These Website
                        Terms and Conditions (“Terms and Conditions”) govern the ordering, sale and delivery of Goods, and the use of the Website. These Terms and Conditions are binding and enforceable against every person that accesses or uses this Website
                        (“you”, “your” or “user”), including without limitation each user who registers as contemplated below (“registered user”). By using the Website and by clicking on the “Register Now” button on the Website, as may be applicable,
                        you acknowledge that you have read and agree to be bound by these Terms and Conditions. The Website enables you to shop online for an extensive range of goods including sport, home and kitchenware, baby and toddler products, electronics,
                        health and beauty products, movies and TV, gaming, books, music, toys, pet supplies, and more (“Goods”). When you use our Website, notwithstanding your geographic location, you do so in accordance with these Terms and Conditions
                        and provided that any delivery address, including for returns collections, is a delivery address within the borders of the Republic of South Africa. shopciti allows third party sellers to list and sell their Goods on the Website
                        (each a “Third Party Seller”). shopciti will indicate on relevant product pages and checkout pages when Goods are for sale by a Third Party Seller. Certain terms in these Terms and Conditions only apply to purchases from Third
                        Party Sellers, and others only apply to purchases from shopciti. This will be made clear in the relevant clause.</p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">2. Ecommerce Terms and Conditions Examples</h5>
                    <p class="policy-details">These Terms and Conditions apply to users who are consumers for purposes of the Consumer Protection Act, 68 of 2008 (the “CPA”). These Terms and Conditions contain provisions that appear in similar text and style to this clause and
                        which – may limit the risk or liability of shopciti or a third party; and/or may create risk or liability for the user; and/or may compel the user to indemnify shopciti or a third party; and/or serves as an acknowledgement, by
                        the user, of a fact. Your attention is drawn to these Terms and Conditions because they are important and should be carefully noted.
                        <span class="policy-inner-text">
                            If there is any provision in these Terms and Conditions that you do not understand, it is your
                        responsibility to ask shopciti to explain it to you before you accept the Terms and Conditions or continue using the Website. Nothing in these Terms and Conditions is intended or must be understood to unlawfully restrict, limit
                        or avoid any right or obligation, as the case may be, created for either you or shopciti in terms of the CPA. shopciti permits the use of this Website subject to the Terms and Conditions. By using this Website in any way, you shall
                        be deemed to have accepted all the Terms and Conditions unconditionally. You must not use this Website if you do not agree to the Terms and Conditions.
                        </span>
                    </p>

                </div>
                <div class="policy">
                    <h5 class="intro-heading">3. Returns</h5>
                    <p class="policy-details">Please refer to our Returns Policy for more information about returning products (and related refunds, replacements or repairs). The Returns Policy is incorporated by reference (which means that it forms part of these Terms and Conditions).
                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">4. Registration and use of the website
                    </h5>
                    <p class="policy-details">Only registered users may order Goods on the Website. To register as a user, you must provide a unique username and password and provide certain information and personal details to shopciti. You will need to use your unique username
                        and password to access the Website in order to purchase Goods. You agree and warrant that your username and password shall: be used for personal use only; and not be disclosed by you to any third party. For security purposes you
                        agree to enter the correct username and password whenever ordering Goods, failing which you will be denied access. You agree that, once the correct username and password relating to your account have been entered, irrespective
                        of whether the use of the username and password is unauthorised or fraudulent, you will be liable for payment of such order, save where the order is cancelled by you in accordance with these Terms and Conditions. You agree to notify
                        shopciti immediately upon becoming aware of or reasonably suspecting any unauthorised access to or use of your username and password and to take steps to mitigate any resultant loss or harm.
                        <span class="policy-inner-text">
                            By using the Website you warrant that
                        you are 18 (eighteen) years of age or older and of full legal capacity. If you are under the age of 18 (eighteen) or if you are not legally permitted to enter into a binding agreement, then you may use the Website only with the
                        involvement and supervision of your parent or legal guardian. If your parent or legal guardian supervises you and gives his/her consent, then such person agrees to be bound to these Terms and Conditions and to be liable and responsible
                        for you and all your obligations under these Terms and Conditions. You agree that you will not in any way use any device, software or other instrument to interfere or attempt to interfere with the proper working of the Website.
                        In addition, you agree that you will not in any way use any robot, spider, other automatic device, or manual process to monitor, copy, distribute or modify the Website or the information contained herein, without the prior written
                        consent from an authorised shopciti representative (such consent is deemed given for standard search engine technology employed by Internet search websites to direct Internet users to this Website). You may not use the Website
                        to distribute material which is defamatory, offensive, contains or amounts to hate speech or is otherwise unlawful. You may not in any way display, publish, copy, print, post or otherwise use the Website and/or the information
                        contained therein without the express prior written consent of an authorised shopciti representative.

                        </span>
                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">05.Conclusion of sales and availability of stock
                    </h5>
                    <p class="policy-details">Registered users may place orders for Goods, which shopciti or the Third Party Seller may accept or reject. Whether or not shopciti or the Third Party Seller accepts an order depends on the availability of Goods, correctness of the
                        information relating to the Goods (including without limitation the price) and receipt of payment or payment authorisation by shopciti for the Goods. NOTE: shopciti or the Third Party Seller will indicate the acceptance of your
                        order by delivering the Goods to you or allowing you to collect them, and only at that point will an agreement of sale between you and shopciti or the Third Party Seller come into effect (the “Sale”). This is regardless of any
                        communication from shopciti stating that your order or payment has been confirmed. shopciti will indicate the rejection of your order (by shopciti itself or the Third Party Seller) by cancelling it and, as soon as possible thereafter,
                        refunding you for any amount already paid. Prior to delivery or your collection of the Goods, you may cancel an order at any time provided you do so before receiving a dispatch or delivery notice. After delivery or your collection
                        of the Goods, you may return the Goods only in accordance with the Returns Policy.

                        <span class="policy-inner-text">
                            Any order of a television will be subject to the condition that we obtain from you your valid TV licence number and your account holder ID. If we
                        do not receive your TV licence number and your account holder ID, or your TV licence number cannot be validated, you will not be able to check out with the television in your shopping basket. Placing Goods in a wishlist or shopping
                        basket without completing the purchase cycle does not constitute an order for such Goods, and as such, Goods may be removed from the shopping basket if stock is no longer available or the price thereof might change without notice
                        to you. You cannot hold shopciti or the Third Party Seller liable if such Goods are not available or are not available at the particular price when you complete or attempt to complete the purchase cycle at a later stage. You acknowledge
                        that stock of all Goods on offer is limited and that pricing may change at any time without notice to you. 

                        </span>
                        <span class="policy-inner-text">
                            In the case of Goods for sale by shopciti, shopciti will take all reasonable efforts to monitor stock levels and ensure
                        that when stock is no longer available, that offers thereof are discontinued on the Website. However, we cannot guarantee the availability of stock. When Goods are no longer available after you have placed an order, shopciti will
                        notify you and you will be entitled to a refund of any amount already paid by you for such Goods. In the case of Goods for sale by a Third Party Seller, shopciti relies on inventory information supplied by the relevant Third Party
                        Seller and shopciti accordingly bears no liability for any inaccuracies in the information supplied to it. Consequently, should you order any Goods from a Third Party Seller which are in fact sold-out, any resulting dispute should
                        be resolved between you and the relevant Third Party Seller, your respective rights and obligations being as set out in these Terms and Conditions. Certain Goods may not be purchased for re-sale. Should we suspect that any such
                        Goods are being purchased for sale, we are entitled to cancel your order immediately on notice to you. Please see details relating to Pre-orders in our Help Centre: Pre-Order, which are incorporated by reference.

                        </span>
                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">06.Payment
                    </h5>
                    <p class="policy-details">We are committed to providing secure online payment facilities. All transactions are encrypted using appropriate encryption technology. Whether the Goods are for sale by shopciti or a Third Party Seller, payment may be made for Goods
                        via the following methods (depending on its availability and/or your eligibility to use such a method) – debit card; where payment is made by debit card, we may require additional information in order to authorise and/or verify
                        the validity of payment. In such cases we are entitled to withhold delivery until such time as the additional information is received by us and authorisation is obtained by us for the amounts. If we do not receive authorisation
                        your order for the Goods will be cancelled.

                        <span class="policy-inner-text">
                            You warrant that you are fully authorised to use the debit card supplied for purposes of paying the Goods. You also warrant that your debit card has sufficient available funds to cover
                        all the costs incurred as a result of the services used on the Website; credit card: where payment is made by credit card, we may require additional information in order to authorise and/or verify the validity of payment. In such
                        cases we are entitled to withhold delivery until such time as the additional information is received by us and authorisation is obtained by us for the amounts. If we do not receive authorisation your order for the Goods will be
                        cancelled. You warrant that you are fully authorised to use the credit card supplied for purposes of paying the Goods. You also warrant that your credit card has sufficient available funds to cover all the costs incurred as a result
                        of the services used on the Website; direct bank deposit or electronic funds transfer: if you pay via direct bank deposit or electronic funds transfer, payment must be made within 5 (five) days of placing your order. 
                        </span>
                        <span class="policy-inner-text">
                            shopciti will
                        not accept your order if payment has not been received; Instant EFT; cash on delivery (except where any of our exclusions apply, as listed in our Help Centre); by selecting this option, you undertake to ensure that you have the
                        exact cash on hand at the time of delivery. eBucks; Discovery Miles; MasterPass; shopciti Vouchers; NSFAS | Cellbux Voucher; and Mobicred; and/or Nedbank Personal Loans. The above payment options are explained in more detail in
                        our Help Centre: Payment, which are incorporated by reference. You may contact us via our Help Centre to obtain a full record of your payment. We will also send you email communications about your order and payment. Once you have
                        selected your payment method (save for cash on delivery or direct bank deposit), you will be directed to a link to a secure site for payment of the applicable purchase price for the Goods

                        </span>
                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">07.Delivery of goods
                    </h5>
                    <p class="policy-details">shopciti offers 2 (two) methods of delivery of Goods to you. You may elect delivery via: courier; or self-collection. For more information about delivery, please see our Help Centre, which are incorporated into these Terms by reference.
                        Our delivery charges are subject to change at any time, without prior notice to you, so please check the Help Centre for the most up-to-date information. You will see the applicable delivery charges in your cart when you check
                        out. Where it accepts your order, shopciti or the Third Party Seller will deliver the Goods to you as soon as reasonably possible, but no later than 30 (thirty) days of receipt of your payment (“Delivery Period”). We will notify
                        you if we are unable to deliver the Goods during the Delivery Period. You may then, within 7 (seven) days of receiving such notification elect whether or not to cancel your order for the Goods. If you elect to cancel your order,
                        we will reimburse you for the purchase price. shopciti’s obligation to deliver a product to you is fulfilled when we deliver the product to the physical address nominated by you for delivery of the order. shopciti is not responsible
                        for any loss or unauthorised use of a product, after it has delivered the product to the physical address nominated by you.

                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">08.Errors
                    </h5>
                    <p class="policy-details">
                        We shall take all reasonable efforts to accurately reflect the description, availability, purchase price and delivery charges of Goods on the Website. However, should there be any errors of whatsoever nature on the Website (which are not due to our gross
                        negligence), we shall not be liable for any loss, claim or expense relating to a transaction based on any error, save – in the case of any incorrect purchase price – to the extent of refunding you for any amount already paid, or
                        otherwise as set out in the Returns Policy. shopciti shall not be bound by any incorrect information regarding our Goods displayed on any third party websites.

                    </p>
                </div>
                <div class="policy">
                    <h5 class="intro-heading">09.Others
                    </h5>
                    <p class="policy-details">Third Party Sellers shopciti will indicate on relevant product pages and checkout pages when Goods are for sale by a Third Party Seller. In such cases shopciti only provides the platform to facilitate transactions between Third Party
                        Sellers and shopciti customers. shopciti is neither the buyer nor the seller of these Goods unless otherwise specified. The Sale formed on acceptance of your order (in accordance with clause 5.2) for Goods that are for sale by
                        a Third Party Seller is therefore solely between the registered user and such Third Party Seller. shopciti is not a party to that sale. The Third Party Seller is solely responsible for fulfilment of delivery of the Goods. The Third
                        Party Seller is also responsible to provide an invoice to the registered user if required. Not all Third Party Sellers are registered VAT (Value-Added Tax) vendors. Only Third Party Sellers who are registered VAT vendors may charge
                        VAT on Goods sold and issue a tax invoice in respect thereof. If a Third Party Seller is not a registered VAT Vendor, it may not charge VAT on Goods sold and will not be in a position to issue a tax invoice in respect thereof.
                        Because shopciti wants the registered user to have a safe and consistent experience, shopciti will handle any returns under the CPA or the Electronic Communications and Transactions Act 2002 (“ECT Act”), by the registered user
                        arising out of or in connection with the Sale between a registered user and a Third Party Seller on behalf of the Third Party Seller according to shopciti’s own Returns Policy. Should such claim escalate into being a dispute, although
                        shopciti is entitled to become involved in an attempt to resolve it, shopciti is not obliged to do so and any disputes must be resolved between you and the relevant Third Party Seller alone. Privacy policy We respect your privacy
                        and will take all reasonable measures to protect it, as more fully detailed in our Privacy Policy, which is incorporated by reference. Changes to these Terms and Conditions shopciti may, in its sole discretion, change any of these
                        Terms and Conditions at any time. It is your responsibility to regularly check these Terms and Conditions and make sure that you are satisfied with the changes. Should you not be satisfied, you must not place any further orders
                        on, or in any other way use, the Website. Any such change will only apply to your use of this Website after the change is displayed on the Website. If you use the Website after such amended Terms and Conditions have been displayed
                        on the Website, you will be deemed to have accepted such changes. Electronic communications When you visit the Website or send emails to us, you consent to receiving communications from us or any of our divisions, affiliates or
                        partners electronically in accordance with our privacy policy as set out in clause 15 above. Ownership and copyright The contents of the Website, including any material, information, data, software, icons, text, graphics, lay-outs,
                        images, sound clips, advertisements, video clips, trade names, logos, trade-marks, designs and service marks which are displayed on or incorporated in this Website (“Website Content”) are protected by law, including but not limited
                        to copyright and trade mark law. The Website Content is the property of shopciti, its advertisers and/or sponsors and/or is licensed to shopciti. You will not acquire any right, title or interest in or to the Website or the Website
                        Content. Any use, distribution or reproduction of the Website Content is prohibited unless expressly authorised in terms of these Terms and Conditions or otherwise provided for in law. To obtain permissions for the commercial use
                        of any Website Content contact us via our Help Centre. Where any of the Website Content has been licensed to shopciti or belongs to any third party, your rights of use will also be subject to any terms and conditions which that
                        licensor or third party imposes from time to time and you agree to comply with such third party terms and conditions. Disclaimer The use of the Website is entirely at your own risk and you assume full responsibility for any risk
                        or loss resulting from use of the Website or reliance on any information on the Website. Whilst shopciti takes reasonable measures to ensure that the content of the Website is accurate and complete, shopciti makes no representations
                        or warranties, whether express or implied, as to the quality, timeliness, operation, integrity, availability or functionality of the Website or as to the accuracy, completeness or reliability of any information on the Website.
                        If any such representations or warranties are made by shopciti’s representatives, shopciti shall not be bound thereby. shopciti disclaims liability for any damage, loss or expenses, whether direct, indirect or consequential in
                        nature, arising out of or in connection with your access to or use of the Website and/or any content therein unless otherwise provided by law. Although Goods sold from the Website may, under certain specifically defined circumstances,
                        be under warranty, the Website itself and all information provided on the Website is provided “as is” without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability,
                        fitness for a particular purpose, completeness, or non-infringement, as may be allowed in law. Any views or statements made or expressed on the Website are not necessarily the views of shopciti, its directors, employees and/or
                        agents. In addition to the disclaimers contained elsewhere in these Terms and Conditions, shopciti also makes no warranty or representation, whether express or implied, that the information or files available on the Website are
                        free of viruses, spyware, malware, trojans, destructive materials or any other data or code which is able to corrupt, destroy, compromise, disrupt, disable, harm, jeopardise or otherwise impede in any manner the operation, stability,
                        security functionality or content of your computer system, computer network, hardware or software in any way. You accept all risk associated with the existence of such viruses, destructive materials or any other data or code which
                        is able to corrupt, compromise, jeopardise, disrupt, disable, harm or otherwise impede in any manner the operation or content of a computer system, computer network, any handset or mobile device, or your hardware or software, save
                        where such risks arise due to the gross negligence or wilful misconduct of shopciti, its employees, agents or authorised representatives. shopciti thus disclaims all liability for any damage, loss or liability of any nature whatsoever
                        arising out of or in in connection with your access to or use of the Website. Linking to third party websites This Website may contain links or references to other websites (“Third Party Websites”) which are outside of our control,
                        including those of advertisers. These Terms and Conditions do not apply to those Third Party Websites and shopciti is not responsible for the practices and/or privacy policies of those Third Party Websites or the “cookies” that
                        those sites may use. Notwithstanding the fact that the Website may refer to or provide links to Third Party Websites, your use of such Third Party Websites is entirely at your own risk and we are not responsible for any loss, expense,
                        claim or damage, whether direct, indirect or consequential, arising from your use of such Third Party Websites or your reliance on any information contained thereon. Limitation of liability shopciti cannot be held liable for any
                        inaccurate information published on the Website and/or any incorrect prices displayed on the Website, save where such liability arises from the gross negligence or wilful misconduct of shopciti, its employees, agents or authorised
                        representatives. You are encouraged to contact us to report any possible malfunctions or errors by way of our Help Centre. shopciti SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL LOSS OR DAMAGES
                        WHICH MIGHT ARISE FROM YOUR USE OF, OR RELIANCE UPON, THE WEBSITE OR THE CONTENT CONTAINED IN THE WEBSITE; OR YOUR INABILITY TO USE THE WEBSITE, AND/OR UNLAWFUL ACTIVITY ON THE WEBSITE AND/OR ANY LINKED THIRD PARTY WEBSITE. YOU
                        HEREBY INDEMNIFY shopciti AGAINST ANY LOSS, CLAIM OR DAMAGE WHICH MAY BE SUFFERED BY YOURSELF OR ANY THIRD PARTY ARISING IN ANY WAY FROM YOUR USE OF THIS WEBSITE AND/OR ANY LINKED THIRD PARTY WEBSITE. Availability and termination
                        We will use reasonable endeavours to maintain the availability of the Website, except during scheduled maintenance periods, and are entitled to discontinue providing the Website or any part thereof with or without notice to you.
                        shopciti may in its sole discretion terminate, suspend and modify this Website, with or without notice to you. You agree that shopciti will not be liable to you in the event that it chooses to suspend, modify or terminate this
                        Website other than for processing any orders made by you prior to such time, to the extent possible. If you fail to comply with your obligations under these Terms and Conditions, including any incident involving payment of the
                        price of an order for any Goods, this may (in our sole discretion with or without notice to you) lead to a suspension and/or termination of your access to the Website without any prejudice to any claims for damages or otherwise
                        that we may have against you. shopciti is entitled, for purposes of preventing suspected fraud and/or where it suspects that you are abusing the Website and/or have created multiple user profiles to take advantage of a promotion
                        or Coupon intended by shopciti to be used once-off by you, to blacklist you on its database (including suspending or terminating your access to the Website), refuse to accept or process payment on any order, and/or to cancel any
                        order concluded between you and shopciti, in whole or in part, on notice to you. shopciti shall only be liable to refund monies already paid by you (see shopciti’s Returns Policy in this regard), and accepts no other liability
                        which may arise as a result of such blacklisting and/or refusal to process any order. At any time, you can choose to stop using the Website, with or without notice to shopciti. Governing law and jurisdiction These Terms and Conditions
                        and our relationship and/or any dispute arising from or in connection with these Terms and Conditions shall be governed and interpreted in accordance with the laws of the Republic of South Africa. Your continued use of the Website
                        will constitute your consent and submission to the jurisdiction of the South African courts regarding all proceedings, transactions, applications or the like instituted by either party against the other, arising from any of these
                        Terms and Conditions. In the event of any dispute arising between you and shopciti for the Sale of goods, you agree that the Sale occurs in the Western Cape and you hereby consent to the non-exclusive jurisdiction of the High Court
                        of the Republic of South Africa (Western Cape Division, Cape Town) notwithstanding that the quantum in the action or proceedings may otherwise fall below the monetary jurisdiction of that court. Nothing in this clause 23 or the
                        Terms and Conditions limits your right to approach any court, tribunal or forum of competent jurisdiction in terms of the CPA. Notices shopciti hereby selects 12th Floor, 10 Rua Vasco Da Gama Plain, Foreshore, Cape Town, as its
                        address for the service of all formal notices and legal processes in connection with these Terms and Conditions (“legal address”). shopciti may change this address from time to time by updating these Terms and Conditions. You hereby
                        select the delivery address specified with your order as your legal address, but you may change it to any other physical address by giving shopciti not less than 7 days’ notice in writing. Notices must be sent either by hand, prepaid
                        registered post, telefax or email and must be in English. All notices sent – by hand will be deemed to have been received on the date of delivery; by prepaid registered post, will be deemed to have been received 10 days after the
                        date of posting; by telefax before 16h30 on a business day will be deemed to have been received, on the date of successful transmission of the telefax. All telefaxes sent after 16h30 or on a day which is not a business day will
                        be deemed to have been received on the following business day; and by email will be deemed to have been on the date indicated in the “Read Receipt” notification. ALL EMAIL COMMUNICATIONS BETWEEN YOU AND US MUST MAKE USE OF THE
                        “READ RECEIPT” FUNCTION to serve as proof that an email has been received. Complaints If you have a complaint about the goods or services provided by us or require information regarding our internal complaints-handling process,
                        please get in touch with us via our Help Centre on the Website or you can contact our call centre on 087 362 8000. If we are unable to resolve your complaint to your satisfaction or we cannot resolve your complaint within 15 (fifteen)
                        business days of you having notified us of it, you can approach the Consumer Goods and Services Ombud (“CGSO”) to assist in resolving the complaint. The CGSO’s contact details are: Website: http://www.cgso.org.za/ Sharecall: 0860
                        000 272 Email: complaints@cgso.org.za Information For the purposes of the ECT Act, shopciti’s information is as follows, which should be read in conjunction with its product descriptions and other terms and conditions contained
                        on the Website: Full name: shopciti Online (RF) (Pty) Ltd, a private company registered in South Africa with registration number 2010/020248/07 Main business: Online retailer Physical address for receipt of legal service (also
                        postal and street address): 12th Floor, 10 Rua Vasco Da Gama Plain, Foreshore, Cape Town, 8001 (marked for attention: CEO and Legal) Office bearers: Kim Reid, Roger Rabalais and Annamaria Beke. Phone number: +27 87 362 8000 Email
                        address: marketing@shopciti.com PAIA: The manual published in terms of section 51 of the Promotion of Access to Information Act 2000 may be downloaded from here. Third Party Sellers’ information is available in the relevant Product
                        listing and/or via the customer support centre contactable via our Help Centre. Intellectual property complaints: If you have a complaint/allegation of intellectual property infringement, please send your complaint/allegation to
                        ipcomplaints@shopciti.com and include the following key information: the specific URLs on the platform that relate to your complaint/allegation; and actual copies of the South African/CIPC-issued certification that you are relying
                        on (i.e. in order to objectively confirm the intellectual property rights claimed in South Africa and then pass the same on to the affected suppliers/sellers accordingly). Subject to the aforesaid, and subject to the fluidly reactive
                        nature of the platform and its related functionality limitations, we confirm that we’ll be able to investigate those identified URLs and then respond to your complaint/allegation in good faith as soon as possible. General shopciti
                        may, in its sole discretion, at any time and for any reason and without prior written notice, suspend or terminate the operation of the Website or the user’s right to use the Website or any of its contents subject to us processing
                        any orders then already made by you. You may not cede, assign or otherwise transfer your rights and obligations in terms of these Terms and Conditions to any third party. Any failure on the part of you or shopciti to enforce any
                        right in terms hereof shall not constitute a waiver of that right. If any term or condition contained herein is declared invalid, the remaining terms and conditions will remain in full force and effect. No variation, addition,
                        deletion, or agreed cancellation of the Terms and Conditions will be of any force or effect unless in writing and accepted by or on behalf of the parties hereto. No indulgence, extension of time, relaxation or latitude which any
                        party (the “grantor”) may show grant or allow to the other (the “grantee”) shall constitute a waiver by the grantor of any of the grantor’s rights and the grantor shall not thereby be prejudiced or stopped from exercising any of
                        its rights against the grantee which may have arisen in the past or which might arise in the future. These Terms and Conditions contain the whole agreement between you and shopciti and no other warranty or undertaking is valid,
                        unless contained in this document between the parties.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--------------- terms-section-end --------------->



</body>
{% endblock %}